[submodule "SimpleDataBase"]
	path = SimpleDataBase
	url = https://github.com/KCNyu/SimpleDataBase.git
[submodule "ObjectProgram/SimpleDataBase"]
	path = ObjectProgram/SimpleDataBase
	url = https://github.com/KCNyu/SimpleDataBase.git
