[submodule "SimpleDataBase"]
    path = C++_CLASS_TEST/SimpleDataBase
    url = https://github.com/KCNyu/SimpleDataBase.git
[submodule "Matrix"]
    path = C++_CLASS_TEST/Matrix
    url = https://github.com/KCNyu/Matrix
[submodule "Linked_list"]
    path = C++_LECTURE/Linked_list
    url = https://github.com/KCNyu/Tree
