[submodule "ObjectProgram/SimpleDataBase"]
	path = ObjectProgram/SimpleDataBase
	url = https://github.com/KCNyu/SimpleDataBase.git
[submodule "Matrix"]
	path = ObjectProgram/Matrix
	url = https://github.com/KCNyu/Matrix
